@import 'tailwindcss';

:root {
  /* Design Tokens */
  --color-primary: #151515;
  --color-primary-inactive: rgba(21, 21, 21, 0.85);
  --color-sub: #f5f5f5;

  /* Typography - Laifen Style */
  --font-weight-thin: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --text-primary: var(--color-primary);
  --text-secondary: #676767;
  /* Slate-700 */
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-primary);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background: #fff;
}

@import './animations.css';
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex: 1;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  max-width: 1200px;
    margin: 0 auto;
  }
  
  .main-content {
    padding: 0px 4px 0 4px;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #1e56b2;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.6;
  color: #333;
}

